{% extends 'base.html.twig' %}

{% block body %}

<articles>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:h')}} dans la catégorie Politique</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
{{ article.content | raw }}
    </div>
</articles>

{% endblock %}